@{
    ViewData["Title"] = "PropertyMe API";
}

<div class="page-header">
    <h1>Contacts - API Example</h1>
</div>

<div class="row">
    <div class="col">
        <p>
            This page summarizes information on the List API endpoints that PropertyMe offers to our customers.
        </p>
    </div>
    <div class="spacer"></div>
    <div class="col">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="label label-danger">GET</span>   Contacts</h3>
            </div>
            <div class="panel-body">
                <p>All contact records changed since a given timestamp. If timestamp given is greater than 1 month, it will return all records.</p>
                <a href="/contact" class="btn btn-success">Try it out</a>
            </div>
        </div>
    </div>
</div>
