@model string

@{
    ViewData["Title"] = "PropertyMe API";
}

<h2>PropertyMe Access Token</h2>
<br />
<p>
    @ViewData["Message"]
</p>

<text>
    @if (!string.IsNullOrEmpty(Model)) {
        <code>
            @Html.Raw(@Model)
        </code>
        
        <div class="alert alert-success mt-20"><a href="/contact">Try out the API</a> using this access token</div>
    }
</text>